{% set media_entity = content.field_social_img.0['#media'] %}
{% set image_file = media_entity.field_media_image.entity.fileuri %}
{% set image_url = file_url(image_file) %}
<a href="{{ content.field_social_link.0['#title'] }}" class="social-media--link">
  <img src="{{ image_url }}" alt="{{ media_entity.field_media_image.alt }}">
</a>
